#plateau {
    width : 504px;
    height : 504px;
    border : 1px solid black;
    border-radius : 250px
}
#bleu {
    border : 1px solid #0074a6;
    background-color: #00a8d6;
    width : 250px;
    height : 250px;
    float: left;
    border-radius : 250px 0px 0px 0px;
}
#rouge {
    border : 1px solid #a60000;
    background-color: #db0000;
    width : 250px;
    height : 250px;
    float: right;
    border-radius : 0px 0px 250px 0px;
}
#jaune {
    border : 1px solid #baba04;
    background-color: #f0f000;
    width : 250px;
    height : 250px;
    float: right;
    border-radius : 0px 250px 0px 0px;
}
#vert {
    border : 1px solid #06a600;
    background-color: #00d604;
    width : 250px;
    height : 250px;
    float: left;
    border-radius : 0px 0px 0px 250px;
}

#start {
    width : 506px;
    height : 100px;
    background-color : blanchedalmond;
}

.on {
    opacity : 1.0;
}

.off {
    opacity : 0.2;
}
